body{
    background-color: rgb(223, 198, 227);
    font-family: Verdana;
}

#profile{
    max-width:50%;
    height:auto;
    border-radius:50%;

}

#summary{
    text-align: justify;
}

.company{
    font-style:italic;
}

#experience{
    text-align: center;
}

#education{
    text-align:center;
}

.educolumn{
    background-color: rgb(81, 109, 109);
    text-align: left;
    color:white;
}

.experiencecolumn{
    text-align: left;
    background-color: rgb(2, 105, 105);
    color:white;
}

.edurow{
    background-color: rgb(176, 192, 192);
}

.exrow{
    background-color: rgb(159, 205, 205);
}

.skillrow{
    background-color:rgb(141, 159, 220);
}

.skillcolumn{
    text-align:left;
    background-color: rgb(17, 81, 137);
    color:white;
}

.row{
    justify-content: space-between;
}

.important{
    text-decoration: underline;
    font-weight: 800;
}

.skills{
    list-style-type:square;
}

#skills{
    text-align: center;
}

.topnav{
    display:flex;
    justify-content: space-between;
}


@media(min-width:468px){

.skillboxes-1{
    display:flex;
    flex-direction: row;
    align-items:flex-start;
    flex-wrap: wrap;
}

.skillboxes-2{
    display:flex;

}

}

.hardskills{
    flex:1;
    
}

.softskills{
    flex:1;

}

.uselessskills{
    flex:1;

}

.languageskills{
    flex:1;

}

.techskills{
    flex:1;

}

.pmskills{
    flex:1;

}

.skillheader{
    text-align:center;
}

#summary{
    border:1px white solid;
    padding:10px;
}